.App {
  max-width: 700px;
  margin: 20px auto;
  
}

.App h1 {
color: white;
}
.App button { 

  background-color: transparent;
  border: 2px solid white;
  font-size: 18px;
  color: white;
  padding: 6px 15px;
  cursor: pointer;
}
.App button:hover {
  background-color: #c23866;
  color: white;
}

.App .card-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.App p {
  color: white;
}